# Ignore video files
*.mp4
*.mov
*.wmv
*.flv
*.avi
*.mkv
.env*
__pycache__/
.Trash-1000/
setup/config/
lost+found/ 
*.srt
setup/data/media/audiobookshelf-metadata/logs/daily/2025-06-21.txt
setup/data/media/audiobookshelf-metadata/logs/daily/2025-06-22.txt
setup/data/media/audiobookshelf-metadata/logs/daily/2025-06-23.txt
setup/data/media/audiobookshelf-metadata/logs/daily/2025-06-24.txt
setup/data/media/audiobookshelf-metadata/logs/daily/2025-06-25.txt
setup/data/media/audiobookshelf-metadata/logs/daily/2025-06-26.txt
setup/data/media/audiobookshelf-metadata/logs/daily/2025-06-27.txt
setup/data/media/audiobookshelf-metadata/logs/daily/2025-06-28.txt
setup/data/media/movies/Apocalypse Now (1979)/Apocalypse.Now.1979.Final.Cut.REPACK.4K.HDR.DV.2160p.BDRemux Ita Eng x265-NAHOM/\[TGx]Downloaded from torrentgalaxy.to .txt.txt
setup/data/media/movies/Apocalypse Now (1979)/Apocalypse.Now.1979.Final.Cut.REPACK.4K.HDR.DV.2160p.BDRemux Ita Eng x265-NAHOM/icv-crew.com.txt
setup/data/media/movies/Apocalypse Now (1979)/Apocalypse.Now.1979.Final.Cut.REPACK.4K.HDR.DV.2160p.BDRemux Ita Eng x265-NAHOM/info.txt
setup/data/media/movies/Apocalypse Now (1979)/Apocalypse.Now.1979.Final.Cut.REPACK.4K.HDR.DV.2160p.BDRemux Ita Eng x265-NAHOM/NH.png
setup/data/media/movies/The Lighthouse (2019)/00286.m2ts
setup/data/torrents/tv/Bobs.Burgers.Season.15.COMPLETE.1080p.DSNP.WEB-DL.x264.ESubs.\[3GB].\[MP4].\[S15.Full]-\[y2flix]/\[ y2flix.cc ].txt
